.loginContainer1{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.Name{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

.text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

form{
    margin-top: 47px;
}

form input{
    margin-bottom: 30px;
    background-color: #7e7e7f;
    border-radius: 10px;
    padding: 20px;
}